@font-face {
    font-family: 'Bazar';
    src: url("../common/assets/fonts/Bazar.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url("../common/assets/fonts/Oswald-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald-Bold';
    src: url("../common/assets/fonts/Oswald-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'RobotoSlab-Regular';
    src: url("../common/assets/fonts/RobotoSlab-Regular.ttf");
    font-weight: 400;
}


@font-face {
    font-family: 'RobotoSlab-Bold';
    src: url("../common/assets/fonts/RobotoSlab-Bold.ttf");
    font-weight: 600;
}


